In [43]:
import os
from dotenv import load_dotenv
import openai
# Load environment variables from .env file
load_dotenv()

# Access the keys from the .env file
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
GROQ_API_KEY = os.getenv("GROQ_API_KEY")
OPEN_AI_EMBEDDING_MODEL = "text-embedding-3-small"
OPEN_AI_EMBEDDING_MODEL_DIMENSION = 256

LANGCHAIN_TRACING_V2 = os.getenv("LANGCHAIN_TRACING_V2", "true")  # Default to True
LANGCHAIN_API_KEY = os.getenv("LANGCHAIN_API_KEY")
LANGCHAIN_ENDPOINT = os.getenv("LANGCHAIN_ENDPOINT", "https://api.smith.langchain.com")
LANGCHAIN_PROJECT = os.getenv("LANGCHAIN_PROJECT")

In [ ]:
load_dotenv(dotenv_path = ".env")
print(os.getenv("OPENAI_API_KEY"))

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_21176\1147255752.py:1: SyntaxWarning: invalid escape sequence '\m'
  load_dotenv(dotenv_path="D:\major-project\.env")

In [46]:
print(OPENAI_API_KEY)

In [3]:
import pandas as pd
import random
import json


# Define a list of job titles and departments for variety
job_titles = [
    "Software Engineer", "Senior Software Engineer", "Data Scientist", "Product Manager",
    "Project Manager", "UX Designer", "QA Engineer", "DevOps Engineer", "CTO", "CEO"
]
departments = [
    "IT", "Engineering", "Data Science", "Product", "Project Management", "Design",
    "Quality Assurance", "Operations", "Executive"
]

# Define a list of office locations
office_locations = [
    "Chicago Office", "New York Office", "London Office", "Berlin Office", "Tokyo Office",
    "Sydney Office", "Toronto Office", "San Francisco Office", "Paris Office", "Singapore Office"
]

# Define a function to create a random employee entry
def create_employee(employee_id, first_name, last_name, job_title, department, manager_id=None):
    return {
        "employee_id": employee_id,
        "first_name": first_name,
        "last_name": last_name,
        "gender": random.choice(["Male", "Female"]),
        "date_of_birth": f"{random.randint(1950, 2000)}-{random.randint(1, 12):02}-{random.randint(1, 28):02}",
        "address": {
            "street": f"{random.randint(100, 999)} Main Street",
            "city": "Springfield",
            "state": "IL",
            "postal_code": "62704",
            "country": "USA"
        },
        "contact_details": {
            "email": f"{first_name.lower()}.{last_name.lower()}@example.com",
            "phone_number": f"+1-555-{random.randint(100, 999)}-{random.randint(1000, 9999)}"
        },
        "job_details": {
            "job_title": job_title,
            "department": department,
            "hire_date": f"{random.randint(2000, 2022)}-{random.randint(1, 12):02}-{random.randint(1, 28):02}",
            "employment_type": "Full-Time",
            "salary": random.randint(50000, 250000),
            "currency": "USD"
        },
        "work_location": {
            "nearest_office": random.choice(office_locations),
            "is_remote": random.choice([True, False])
        },
        "reporting_manager": manager_id,
        "skills": random.sample(
            ["JavaScript", "Python", "Node.js", "React", "Django", "Flask", "AWS", "Docker", "Kubernetes", "SQL"], 4
        ),
        "performance_reviews": [
            {
                "review_date": f"{random.randint(2020, 2023)}-{random.randint(1, 12):02}-{random.randint(1, 28):02}",
                "rating": round(random.uniform(3, 5), 1),
                "comments": random.choice([
                    "Exceeded expectations in the last project.",
                    "Consistently meets performance standards.",
                    "Needs improvement in time management.",
                    "Outstanding performance and dedication."
                ])
            },
            {
                "review_date": f"{random.randint(2019, 2022)}-{random.randint(1, 12):02}-{random.randint(1, 28):02}",
                "rating": round(random.uniform(3, 5), 1),
                "comments": random.choice([
                    "Exceeded expectations in the last project.",
                    "Consistently meets performance standards.",
                    "Needs improvement in time management.",
                    "Outstanding performance and dedication."
                ])
            }
        ],
        "benefits": {
            "health_insurance": random.choice(["Gold Plan", "Silver Plan", "Bronze Plan"]),
            "retirement_plan": "401K",
            "paid_time_off": random.randint(15, 30)
        },
        "emergency_contact": {
            "name": f"{random.choice(['Jane', 'Emily', 'Michael', 'Robert'])} {random.choice(['Doe', 'Smith', 'Johnson'])}",
            "relationship": random.choice(["Spouse", "Parent", "Sibling", "Friend"]),
            "phone_number": f"+1-555-{random.randint(100, 999)}-{random.randint(1000, 9999)}"
        },
        "notes": random.choice([
            "Promoted to Senior Software Engineer in 2020.",
            "Completed leadership training in 2021.",
            "Received Employee of the Month award in 2022.",
            "Actively involved in company hackathons and innovation challenges."
        ])
    }

# Generate 10 employee entries
employees = [
    create_employee("E123456", "John", "Doe", "Software Engineer", "IT", "M987654"),
    create_employee("E123457", "Jane", "Doe", "Senior Software Engineer", "IT", "M987654"),
    create_employee("E123458", "Emily", "Smith", "Data Scientist", "Data Science", "M987655"),
    create_employee("E123459", "Michael", "Brown", "Product Manager", "Product", "M987656"),
    create_employee("E123460", "Sarah", "Davis", "Project Manager", "Project Management", "M987657"),
    create_employee("E123461", "Robert", "Johnson", "UX Designer", "Design", "M987658"),
    create_employee("E123462", "David", "Wilson", "QA Engineer", "Quality Assurance", "M987659"),
    create_employee("E123463", "Chris", "Lee", "DevOps Engineer", "Operations", "M987660"),
    create_employee("E123464", "Sophia", "Garcia", "CTO", "Executive", None),
    create_employee("E123465", "Olivia", "Martinez", "CEO", "Executive", None)
]

In [4]:

# Convert to DataFrame
df_employees = pd.DataFrame(employees)

# Create the 'data' directory if it doesn't exist
data_dir = 'data'
os.makedirs(data_dir, exist_ok=True)

# Save DataFrame to CSV within the 'data' directory
csv_file_employees = os.path.join(data_dir, 'synthetic_data_employees.csv')
df_employees.to_csv(csv_file_employees, index=False)

print(f"Synthetic employee data has been saved to {csv_file_employees}")

Synthetic employee data has been saved to data\synthetic_data_employees.csv

In [5]:
df_employees.head()

,employee_id,first_name,last_name,gender,date_of_birth,address,contact_details,job_details,work_location,reporting_manager,skills,performance_reviews,benefits,emergency_contact,notes
0,E123456,John,Doe,Male,1992-06-07,"{'street': '425 Main Street', 'city': 'Springf...","{'email': 'john.doe@example.com', 'phone_numbe...","{'job_title': 'Software Engineer', 'department...","{'nearest_office': 'Chicago Office', 'is_remot...",M987654,"[Node.js, React, Kubernetes, Flask]","[{'review_date': '2021-06-24', 'rating': 3.9, ...","{'health_insurance': 'Gold Plan', 'retirement_...","{'name': 'Jane Johnson', 'relationship': 'Frie...",Completed leadership training in 2021.
1,E123457,Jane,Doe,Female,1961-02-20,"{'street': '671 Main Street', 'city': 'Springf...","{'email': 'jane.doe@example.com', 'phone_numbe...","{'job_title': 'Senior Software Engineer', 'dep...","{'nearest_office': 'Tokyo Office', 'is_remote'...",M987654,"[JavaScript, Flask, Node.js, Python]","[{'review_date': '2023-03-03', 'rating': 4.1, ...","{'health_insurance': 'Gold Plan', 'retirement_...","{'name': 'Emily Doe', 'relationship': 'Spouse'...",Received Employee of the Month award in 2022.
2,E123458,Emily,Smith,Female,1956-10-04,"{'street': '867 Main Street', 'city': 'Springf...","{'email': 'emily.smith@example.com', 'phone_nu...","{'job_title': 'Data Scientist', 'department': ...","{'nearest_office': 'Singapore Office', 'is_rem...",M987655,"[Kubernetes, Python, JavaScript, Docker]","[{'review_date': '2023-08-14', 'rating': 4.1, ...","{'health_insurance': 'Gold Plan', 'retirement_...","{'name': 'Emily Doe', 'relationship': 'Parent'...",Completed leadership training in 2021.
3,E123459,Michael,Brown,Female,1952-03-19,"{'street': '863 Main Street', 'city': 'Springf...","{'email': 'michael.brown@example.com', 'phone_...","{'job_title': 'Product Manager', 'department':...","{'nearest_office': 'San Francisco Office', 'is...",M987656,"[SQL, Python, React, Kubernetes]","[{'review_date': '2021-10-10', 'rating': 3.3, ...","{'health_insurance': 'Bronze Plan', 'retiremen...","{'name': 'Robert Smith', 'relationship': 'Pare...",Received Employee of the Month award in 2022.
4,E123460,Sarah,Davis,Male,1992-06-15,"{'street': '315 Main Street', 'city': 'Springf...","{'email': 'sarah.davis@example.com', 'phone_nu...","{'job_title': 'Project Manager', 'department':...","{'nearest_office': 'San Francisco Office', 'is...",M987657,"[Kubernetes, Python, React, SQL]","[{'review_date': '2023-01-11', 'rating': 3.4, ...","{'health_insurance': 'Silver Plan', 'retiremen...","{'name': 'Robert Smith', 'relationship': 'Frie...",Completed leadership training in 2021.

In [6]:
# Function to create a string representation of the employee's key attributes for embedding
def create_employee_string(employee):
    job_details = f"{employee['job_details']['job_title']} in {employee['job_details']['department']}"
    skills = ", ".join(employee['skills'])
    performance_reviews = " ".join([f"Rated {review['rating']} on {review['review_date']}: {review['comments']}" for review in employee['performance_reviews']])
    basic_info = f"{employee['first_name']} {employee['last_name']}, {employee['gender']}, born on {employee['date_of_birth']}"
    work_location = f"Works at {employee['work_location']['nearest_office']}, Remote: {employee['work_location']['is_remote']}"
    notes = employee['notes']

    return f"{basic_info}. Job: {job_details}. Skills: {skills}. Reviews: {performance_reviews}. Location: {work_location}. Notes: {notes}"

# Example usage with one employee
employee_string = create_employee_string(employees[0])
print(f"Here's what an employee string looks like: /n {employee_string}")

Here's what an employee string looks like: /n John Doe, Male, born on 1992-06-07. Job: Software Engineer in IT. Skills: Node.js, React, Kubernetes, Flask. Reviews: Rated 3.9 on 2021-06-24: Consistently meets performance standards. Rated 3.4 on 2020-06-11: Needs improvement in time management.. Location: Works at Chicago Office, Remote: False. Notes: Completed leadership training in 2021.

In [7]:
# Apply the function to all employees
df_employees['employee_string'] = df_employees.apply(create_employee_string, axis=1)

In [32]:
from tqdm import tqdm
import openai

# Generate an embedding using OpenAI's API
def get_embedding(text):
    """Generate an embedding for the given text using OpenAI's API."""

    # Check for valid input
    if not text or not isinstance(text, str):
        return None

    try:
        # Call OpenAI API to get the embedding
        embedding = openai.embeddings.create(
            input=text,
            model=OPEN_AI_EMBEDDING_MODEL, dimensions=OPEN_AI_EMBEDDING_MODEL_DIMENSION).data[0].embedding
        return embedding
    except Exception as e:
        print(f"Error in get_embedding: {e}")
        return None

# Apply the function to generate embeddings for all employees with error handling and progress tracking
try:
    df_employees['embedding'] = [x for x in tqdm(df_employees['employee_string'].apply(get_embedding), total=len(df_employees))]
    print("Embeddings generated for employees")
except Exception as e:
    print(f"Error applying embedding function to DataFrame: {e}")

Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.
Error in get_embedding: Connection error.

100%|██████████| 10/10 [00:00<00:00, 9981.68it/s]

Embeddings generated for employees

In [29]:
df_employees.head()

,employee_id,first_name,last_name,gender,date_of_birth,address,contact_details,job_details,work_location,reporting_manager,skills,performance_reviews,benefits,emergency_contact,notes,employee_string
0,E123456,John,Doe,Male,1992-06-07,"{'street': '425 Main Street', 'city': 'Springf...","{'email': 'john.doe@example.com', 'phone_numbe...","{'job_title': 'Software Engineer', 'department...","{'nearest_office': 'Chicago Office', 'is_remot...",M987654,"[Node.js, React, Kubernetes, Flask]","[{'review_date': '2021-06-24', 'rating': 3.9, ...","{'health_insurance': 'Gold Plan', 'retirement_...","{'name': 'Jane Johnson', 'relationship': 'Frie...",Completed leadership training in 2021.,"John Doe, Male, born on 1992-06-07. Job: Softw..."
1,E123457,Jane,Doe,Female,1961-02-20,"{'street': '671 Main Street', 'city': 'Springf...","{'email': 'jane.doe@example.com', 'phone_numbe...","{'job_title': 'Senior Software Engineer', 'dep...","{'nearest_office': 'Tokyo Office', 'is_remote'...",M987654,"[JavaScript, Flask, Node.js, Python]","[{'review_date': '2023-03-03', 'rating': 4.1, ...","{'health_insurance': 'Gold Plan', 'retirement_...","{'name': 'Emily Doe', 'relationship': 'Spouse'...",Received Employee of the Month award in 2022.,"Jane Doe, Female, born on 1961-02-20. Job: Sen..."
2,E123458,Emily,Smith,Female,1956-10-04,"{'street': '867 Main Street', 'city': 'Springf...","{'email': 'emily.smith@example.com', 'phone_nu...","{'job_title': 'Data Scientist', 'department': ...","{'nearest_office': 'Singapore Office', 'is_rem...",M987655,"[Kubernetes, Python, JavaScript, Docker]","[{'review_date': '2023-08-14', 'rating': 4.1, ...","{'health_insurance': 'Gold Plan', 'retirement_...","{'name': 'Emily Doe', 'relationship': 'Parent'...",Completed leadership training in 2021.,"Emily Smith, Female, born on 1956-10-04. Job: ..."
3,E123459,Michael,Brown,Female,1952-03-19,"{'street': '863 Main Street', 'city': 'Springf...","{'email': 'michael.brown@example.com', 'phone_...","{'job_title': 'Product Manager', 'department':...","{'nearest_office': 'San Francisco Office', 'is...",M987656,"[SQL, Python, React, Kubernetes]","[{'review_date': '2021-10-10', 'rating': 3.3, ...","{'health_insurance': 'Bronze Plan', 'retiremen...","{'name': 'Robert Smith', 'relationship': 'Pare...",Received Employee of the Month award in 2022.,"Michael Brown, Female, born on 1952-03-19. Job..."
4,E123460,Sarah,Davis,Male,1992-06-15,"{'street': '315 Main Street', 'city': 'Springf...","{'email': 'sarah.davis@example.com', 'phone_nu...","{'job_title': 'Project Manager', 'department':...","{'nearest_office': 'San Francisco Office', 'is...",M987657,"[Kubernetes, Python, React, SQL]","[{'review_date': '2023-01-11', 'rating': 3.4, ...","{'health_insurance': 'Silver Plan', 'retiremen...","{'name': 'Robert Smith', 'relationship': 'Frie...",Completed leadership training in 2021.,"Sarah Davis, Male, born on 1992-06-15. Job: Pr..."

In [28]:
df_employees=df_employees.drop("embedding",axis=1)